
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot-container {
  text-align: center;
  padding: 20px; background-color: rgba(0,0,0,0.8);
}

.active, .dot:hover {
  background-color: #717171;
}

q {font-style: italic;}

.author {color: cornflowerblue;}

.container{
 font-family: 'Abhaya Libre';font-size: 180%
 
}