
.mySlides {
  display: none;
  padding: 40px;
  text-align: center;
  font-size:20px;
  color:white;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
 
  padding: 16px;
 
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}


